/**
 * 	Main document cascading style sheet (external)
 */

html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	/*overflow: hidden;*/
	height: 100%;
	background-color: #e9eaed;
}

div#files div.upload_preview{
	padding-bottom: 15px;
}

.gmnoprint img {
	max-width: none;
}

img {
	max-width: none;
}

ul.nav li div.status_message{
	padding: 15px;
	display:none; 
}

ul.nav li div.status_message img#loading{
	display: none;
}

ul.nav li div.status_message span.notification{

}

div#central_container {
	width: 100%;
	margin-bottom: 40px;
}

div#left_middle_area {
	width: 40%;
	height: 100%;
	float: left;
	padding-top: 25px;
	padding-left: 25px;
}

div#controls{
	margin-top: 25px;
}

div#filters_container{
	background-color: white;
	padding: 15px;
	width: 100%;
	border: 1px solid #e7e7e7;
	border-radius: 4px;
}

div#new_event{
	background-color: white;
	padding: 15px;
	width: 100%;
	border: 1px solid #e7e7e7;
	border-radius: 4px;
}

div#new_event form#neweventform div.form-group input.event_field{
	width: 75%;
}

div#right_middle_area {
	float: left;
	height: 100%;
	width: 40%;
	padding-top: 25px;
	margin-left: 15px;
	margin-right: 15px;
}

div#right_side_bar {
	width: 15%;
	height: 100%;
	float: left;
	padding-top: 25px;
	border-left: 1px solid #dedede;
}

#map-canvas {
	height: 350px;
}

ul.simple_plain {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#my_events{
	
}

#my_events #my_events_header{
	font-weight: normal;
}

#events_created {

}

#my_events_list{
	margin-top: 15px;
}

#my_events_list li.planned_event_li{
	padding: 4px;
}

#my_events_list li.planned_event_li div.planned_event{
	padding: 4px;
	background-color: #fcfefc;
	border-radius: 4px;
	border: 1px solid #dedede;
}

#my_events_list li.planned_event_li div.planned_event hr{
	margin: 7px 0px;
}

#events_created #events_created_header {
	font-weight: normal;
}

#events_created_list {
	margin-top: 15px;
}

#events_created_list li.events_created_li {
	padding: 4px;
}

#events_created_list li.events_created_li div.event_owner {
	padding: 4px;
	background-color: #fcfefc;
	border-radius: 4px;
	border: 1px solid #dedede;
}

#events_created_list li.events_created_li div.event_owner hr {
	margin: 7px 0px;
}

#events_in_area {

}

#events_in_area #events_in_area_header {
	font-weight: normal;
}

#events_in_area_list {
	margin-top: 15px;
}

#events_in_area_list li.area_event_li {
	padding: 4px;
}

#events_in_area_list li.area_event_li div.area_event {
	padding: 4px;
	background-color: #fcfefc;
	border-radius: 4px;
	border: 1px solid #dedede;
}

#events_in_area_list li.area_event_li div.area_event hr {
	margin: 7px 0px;
}

div.event_owner, div.area_event span.event_title, .event_date {
	display: block;
}

div.event_marker_display hr {
	margin: 7px 0px;
}

