<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>EventSource</title>
		<meta name="description" content="The best source for events in your area">
		<meta name="author" content="james porcelli">

		<meta name="viewport" content="width=device-width; initial-scale=1.0">

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main/main.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery-ui-1.10.4.custom.min.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/include/chosen_v1.1.0/chosen.min.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}include/bootstrap-datetimepicker-0.0.11/css/bootstrap-datetimepicker.min.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}include/datetimepicker-master/jquery.datetimepicker.css" />

		<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzCYO6VZl72pwbB_XYHU5FqhYRlaDtQ_Y&sensor=false"></script>
	</head>

	<body>
		<div class="container-fluid">
			<div class="navbar navbar-static-top">
				<div class="navbar-inner">
					<div class="container" style="width: 100%;">
						<ul class="nav">
							<li>
								<a class="brand" href="#" style="float: left;">Event Source</a>
								<form class="navbar-search pull-left" id="event_basic_srch">
									<input type="text" class="search-query" placeholder="Search" style="font-size: 16px;">
								</form>
							</li>
							<li id="gmaps_home_li">
								<span id="gmaps_home" class="btn "><i class="icon-home"></i></span>
							</li>
							<li>
								<a href="#">Advanced Search</a>
							</li>
							<li>
								<a href="#" id="launch_newevtUI">New Event</a>
							</li>
							<li>
								{% if user.is_authenticated %}
								<a href="#" id="logout">Logout</a>
								{% else %}
								<a href="#" id="launch_loginUI">Login</a>
								{% endif %}
							</li>
							<li>
								<a href="#" id="launch_helpUI">Help</a>
							</li>
							<li>
								{% if user.is_authenticated %}
								<a href="#">{{user.username}}</a>
								{% endif %}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div id="central_container" style="clear: both;">
			<div id="left_middle_area">
				<div id="map-canvas"></div>
				<div id="controls">
					<div id="eventfilter_title">
						<span>Filter By</span>
					</div>
					<form id="filters">
						<div id="eventfilter_location">
							<input type="text" id="eventfilter_location_input" placeholder="Location" />
						</div>
						<div id="type_filter">
							<div id="eventfilter_select">
								<select multiple class="chosen-select" id="type_filter_select" data-placeholder="Event Type" tabindex="-1" multiple>
									<!-- @TODO - Load all options using XHR from server -->
									<option>concert</option>
									<option>night club event</option>
								</select>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div id="right_middle_area">

			</div>

			<div id="right_side_bar">
				<div id="cur_event_info"></div>
				<div id="top_events"></div>
			</div>

		</div>

		<div id="login">
			<form id="loginform">
				<div class="control-group">
					<div class="controls">
						<input type="text" id="inputEmail" placeholder="Email">
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<input type="password" id="inputPassword" placeholder="Password">
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<label class="checkbox">
							<input type="checkbox">
							Remember me </label>
						<button type="submit" class="btn">
							Sign in
						</button>
					</div>
				</div>
			</form>
			<div id="fbauth">
				<fb:login-button scope="public_profile,email" onlogin="fbCheckLoginState();"></fb:login-button>
			</div>
		</div>
		<div id="new_event">
			<form id="neweventform">
				{% csrf_token %}
				<div class="control-group">
					<div class="controls">
						<!--<label for="evt_title">Please provide a title for the event</label>-->
						<input name="title" type="text" id="evt_title" placeholder="Event Title" class="new_event_inputfield" required>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<!--<label for="evt_location">Please provide a location for the event</label>-->
						<input name="address" type="text" id="evt_location" placeholder="Event Address" class="new_event_inputfield" required>
					</div>
				</div>
				<textarea rows="6" name="description" id="event_description" placeholder="Event Description" class="new_event_textfield" style="margin-bottom: 15px;"></textarea>
				<div class="control-group">
					<!--<label for="type_newevent_select">Please categorize the type of the event</label>-->
					<select required name="type" class="chosen-select" id="type_newevent_select" data-placeholder="Event Type" tabindex="-1">
						<!-- @TODO - Load all options using XHR from server -->
						<option></option>
						<option>concert</option>
						<option>night club event</option>
					</select>
					<div id="new_event_datetime_con">
						<div id="datetimepicker_container" class="input-append date">
							<!--<label for="datetimepicker">Please provide the date and time for the event</label>-->
							<input placeholder="Event Time" name="datetime" data-format="dd/MM/yyyy hh:mm:ss" type="text" style="width: 95%; font-size: 16px;" id="datetimepicker" required>
							<span class="add-on" id="datetime_calndr-icon"> <i class="icon-calendar"> </i> </span>
						</div>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn">
							Create
						</button>
					</div>
				</div>
			</form>
		</div>

		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.10.2.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.10.4.custom.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}include/chosen_v1.1.0/chosen.jquery.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}include/datetimepicker-master/jquery.datetimepicker.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}include/jquery-validation-1.12.0/dist/jquery.validate.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}include/carhartl-jquery-cookie-92b7715/jquery.cookie.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/main/main.js"></script>
	</body>
</html>
